.container-fluid{
  background:#eee;
  
}

.nom-logo{
  margin-right: 77%;
}

.logo{

}

.first-slide{
  font-size: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}

.image{
  opacity: 0.9;
  bottom: left;
}

.menu ul li > a{
  text-decoration:underline;
  font-weight: bold;
}

.article-intro{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 28px;
  margin-left: 12%;
  text-align: justify;
}

.article-essentiel{
  
  border-radius: 50px;
  border-radius: 20px;
  background: #e8ebed;
  box-shadow:  -26px 26px 52px #d3d6d8, 
               26px -26px 52px #fdffff;
  width: 50%;
}

.title-essentiel{
  display: flex;
  color: blueviolet;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  padding-top: 20px;
  
}

.article-essentiel ul > li{
  text-decoration: none;
  
}
.second-section{
  background-color: rgb(202, 77, 165);
  
}

.section-trois{
  background-color: rgb(146, 177, 235);
}

section article > .enfant{
 margin-left: 20%;
}
section article > .parents{
  margin-left: 50%;
}
.footer{
  background-color: rgb(44, 14, 20);
}

.annee{
  font-size: 300px;
  color: rgba(226, 182, 215, 0.096);
}

.chiffres{
  color: #d3d6d8;
  position: absolute;
  margin-top: 15%;
  font-size: 30px;
  
}

.chiffres ul > li{
  list-style: none;
}

.button_stages{
  background-color: rgb(202, 77, 165);
  text-align: center;
  border: solid;
  color: #d3d6d8;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 35px;
  cursor: pointer;
}