

.grid{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  
  grid-gap: 10px;
  
}

.haud{
  grid-row-start: 1;
  grid-row-end: 2;
}

.milieur{
  grid-row-start: 2;
  grid-row-end: 3;
}

.bas{
  grid-row-start: 3;
  grid-row-end: 4;
}

