.container-fluid{
  background:#eee;
  
}

.nom-logo{
  margin-right: 77%;
}

.logo{

}

.first-slide{
  font-size: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}

.image{
  opacity: 0.9;
  bottom: left;
}

.menu ul li > a{
  text-decoration:underline;
  font-weight: bold;
}